<!DOCTYPE html>
<html lang="en">
<head>
	<base href="#(basepath)">
    <meta charset="UTF-8">
    <title>WHUT博客</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet">
</head>
<body>
	<div id="main" class="container" style="font-size:18px;">
	  <div class="row">
	  <div class="col-lg-12 col-sm-12 col-md-12">
	  <div class="well" style="background:#BBF;margin: 60px auto;width: 500px;text-align: center;">
	  <form action="website/login" method="post">
	<h1>信息错误</h1>
	    		<a href="website/login">重试</a>
	  </form>
	  </div>
	  
	  </div>
	  </div>  
	</div>
</body>
</html>